---
const { image, title, description, link, github } = Astro.props;
---

<div
  class="flex flex-col justify-between rounded-2xl bg-[#97a791] bg-opacity-50 shadow-inner fade-in p-1"
>
  <div class="relative">
    <img
      src={image}
      alt={title}
      class="rounded-[12px] h-[30vh] overflow-hidden object-cover"
    />
  </div>
  <div
    class="flex-1 p-4 text-slight text-left font-dmserif flex flex-col justify-between"
  >
    <div>
      <h2 class="text-2xl pb-2">{title}</h2>
      <hr class="text-slighter pb-2 opacity-70" />
      <p class="font-outfit">{description}</p>
    </div>
  </div>
  <div class="px-4 pb-4 font-outfit text-slight flex flex-row gap-2">
    <button
      class="rounded-full bg-greenish bg-opacity-30 hover:bg-opacity-70 border border-slightest shadow-inner hover:shadow-xl p-2 px-4 font-outfit"
    >
      <a href={link} class="block text-center">See More</a>
    </button>
    <button
      class="rounded-full bg-greenish bg-opacity-30 hover:bg-opacity-70 border border-slightest shadow-inner hover:shadow-xl p-2 px-4 font-outfit w-fit"
    >
      <a href={link} class="block text-center"
        ><img src="/images/github-mark.svg" class="h-[2vh]" /></a
      >
    </button>
  </div>
</div>
